@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?7txjs3');
  src:url('fonts/icomoon.eot?7txjs3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7txjs3') format('truetype'),
    url('fonts/icomoon.woff?7txjs3') format('woff'),
    url('fonts/icomoon.svg?7txjs3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail4:before {
    content: "\e903";
}
.icon-github:before {
    content: "\e901";
}